h6{
    margin: auto !important;
    
}

.cGKbZh {
    color:black !important;
    background-color: white !important;
}

.ehkxHv{
    color: black !important;
    background-color: rgb(107, 107, 107) !important;
}

.ejXxNI {
    color: black !important;
    background-color: rgb(168, 168, 168) !important;
    box-shadow: 0 0 1px 3px white !important;
}

.jLgnwX:hover {
    box-shadow: 0 0 1px 3px rgb(255 255 255 / 90%) !important;
}

.jLgnwX{
    background-color: rgb(95, 95, 95) !important;
    box-shadow: 0 0 1px 3px rgb(255 255 255 / 50%) !important;
}

.efeito:hover{
    filter: brightness(1.2);
    cursor: pointer;
}