
.input-cadastro {
    background-color: #575e64 !important;
}
.form-control::placeholder { 
    color: white !important; 
    opacity: 1;
}

.invalid-feedback {
    padding: 2px !important;
    color: white !important;
    background-color: #551616!important;
    font-weight: bold;
    border-radius: 4px;
}