.topscreen {
  position: fixed;
  left: 14%;
  top: 2%;
  z-index: 10;
}

label {
  display: inline;
}

.efeito:hover{
  filter: brightness(1.2);
}

.card-wrapper {
  max-width: 1320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pagination {
  max-width: 1320px;
  margin-left: 12px;
}

.page-link {
  background-color: transparent !important;
  margin-left: 0;
}

.page-item {
  width: 41px;
  text-align: center;
}

.card-w-item {
  margin: 10px;
}

.spinner-border {
  position: relative;
  left: 44%;
  color: white;
}

h2 {
  color: white;
  text-align: center;
}